<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.rami.abushaqra79.sharerent">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="com.gmail.rami.abushaqra79.MyApplication"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShareRent">
        <activity
            android:name=".OrderSummaryActivity"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".PreferenceActivity"
            android:exported="false" />
        <activity
            android:name=".SelectedItemActivity"
            android:exported="true"
            android:parentActivityName=".ReviewItemsOptions">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ReviewItemsOptions" />
        </activity>
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="true"
            android:parentActivityName=".LoginActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".ReviewItemsOptions"
            android:exported="true"
            android:parentActivityName=".ChooseItemsActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseItemsActivity" />
        </activity>
        <activity
            android:name=".ChooseItemsActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:exported="true" />
        <activity
            android:name=".SignupActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>